
  <div class="header">
    <mat-toolbar class="ToolBar">
      <span>My Application</span>
      <div>
        <button mat-button (click)="goToHomePage()">Home</button>
        <button mat-button (click)="registerMenu()">Register</button>
        <button mat-button (click)="loginMenu()">Login</button>
        <button *ngIf="showLogOutMenu" (click)="logoutMenu()" mat-button>LogOut</button>
        <button mat-button>About</button>
      </div>
    </mat-toolbar>
  </div>
  <div *ngIf="isHomePage">
    <app-custom-content></app-custom-content>
  </div>
  <div *ngIf="showLogin" class="account-container">
    <app-login-form (loginEvent)="LoginUser()"></app-login-form>
  </div>
  <div *ngIf="showRegisterForm" class="account-container">
    <app-register-form></app-register-form>
  </div>
  