.header{
  .mat-toolbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
}
.account-container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 5%;
}
